pillow
opencv-python
face-recognition
face_recognition_models
numpy==1.26.4
# Hay que descomentar la linea de abajo y cambiar el numero de version de python que se esta usando
# dlib @ https://github.com/z-mahmud22/Dlib_Windows_Python3.x/raw/main/dlib-19.24.99-cp312-cp312-win_amd64.whl#sha256=20c62e606ca4c9961305f7be3d03990380d3e6c17f8d27798996e97a73271862
setuptools
